
<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

        <!-- Start app main Content -->
        <div class="main-content">
            <section class="section">
                <div class="row row-deck">
                    <div class="col-md-12 ">
                        <div class="card ">
                            <div class="card-body  col-md-12 col-sm-12">
                                <h3 class="text-center"> Inventory </h3>
                                <!-- Default Table -->
                                <table class="table ">
                                    <thead>
                                    <tr>
                                        <th scope="col">Sl</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>

                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="type:${inventory}">
                                        <td th:text="${type.iid}"></td>
                                        <td th:text="${type.istartDate}"></td>
                                        <td th:text="${type.iendDate}"></td>

                                        <td>
                                            <a th:href="@{'/delete_inventory/'+${type.iid}}" class="btn btn-danger">Delete</a>
                                            <a th:href="@{'/edit_inventory/'+${type.iid}}" class="btn btn-success">Update</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- End Default Table Example -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- End app main Content -->
<div th:insert=" footer.html">...</div>